.cart-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	left: 0;
	right: 0;
	padding: 0;
	/* overflow to make possible to scroll it */
	overflow-y: auto;
}

.title {
	margin: 0 auto 2rem auto;
}

.totalAmount {
    display: flex;
    justify-content: space-between;
	margin:0 2rem 3rem 2rem;
	font-size: 2rem;
}

.totalAmountValue {
	color: blue;
	font-size: 2rem;
	margin-left: 1rem;
}

/* buttons actions */
.btnClose{
    padding: 0.75rem 1.3rem;
    border-radius: 10px;
    background-color: rgb(255, 141, 141);
    font-weight: 700;
    font-size: 1rem;
}

.btnOrder{
    margin-left: 1rem;
    padding: 0.75rem 1.3rem;
    border-radius: 10px;
    background-color: rgb(141, 255, 141);
    font-weight: 700;
    font-size: 1rem;
}

.btnClose:hover{
    background-color: rgb(255, 62, 62);
    color: white;
    border-color: white;
    
}

.btnOrder:hover{
    background-color: green;
    color: white;
    border-color: white;
}