.cart-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	left: 0;
	right: 0;
	padding: 0;
	/* overflow to make possible to scroll it */
	overflow-y: auto;
}

.title {
	margin: 0 auto 2rem auto;
	font-size: 3rem;
	color: rgb(0, 0, 255);
	text-shadow: 2px 2px 4px green;
	letter-spacing: 0.5rem;
}

.totalAmount {
	display: flex;
	justify-content: space-around;
	margin: 0 3rem 3rem 2rem;
	font-size: 2rem;
}

.totalAmountValue {
	color: blue;
	font-size: 2rem;
	margin-left: 1rem;
}

/* buttons actions */
.btnClose {
	padding: 0.75rem 1.3rem;
	border-radius: 10px;
	background-color: rgb(255, 141, 141);
	font-weight: 700;
	font-size: 1rem;
}

.btnOrder {
	margin-left: 1rem;
	padding: 0.75rem 1.3rem;
	border-radius: 10px;
	background-color: rgb(141, 255, 141);
	font-weight: 700;
	font-size: 1rem;
}

.btnClose:hover {
	background-color: rgb(255, 62, 62);
	color: white;
	border-color: white;
}

.btnOrder:hover {
	background-color: green;
	color: white;
	border-color: white;
}

.isSubmitting,
.isSubmittedText {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	width: 50%;
	height: 10%;
	margin: 0 auto;
	top: 40%;
	left: 0;
	right: 0;
	padding: 0;
	/* overflow to make possible to scroll it */
	/* overflow-y: auto; */
}

.isSubmittedText,
.isSubmittingText {
	/* change the color to green */
	margin: 0 auto;
	font-size: 1.5rem;
	color: green;
	/* text-shadow: 2px 2px 4px red; */
	letter-spacing: 0.5rem;
	border-radius: 10px;
	padding: 0.5rem;
	/* background-color: rgb(255, 141, 141); */
	font-weight: 700;
	font-size: 1rem;
	transition: all 0.3s ease-in-out;
	transform: scale(1.1);
	box-shadow: 0 0 10px #000;
}

@media screen and (max-width: 768px) {
	.cart-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		left: 0;
		right: 0;
		padding: 0;
		/* overflow to make possible to scroll it */
		overflow-y: auto;
	}

	.totalAmount {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		align-items: center;
		justify-content: space-around;
		margin: 0 2rem 2rem 2rem;
		font-size: 2rem;
	}

	.totalAmountValue {
		color: blue;
		font-size: 2rem;
		margin-left: 1rem;
	}
}
