.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: grey; */
    border-bottom: 1px solid black;
    max-width: 95%;
    margin: 0 auto;
    z-index: 10;
}

