.one {
	color: Green;
}

.two {
	color: yellow;
	text-shadow: -0.5px 0px 0px rgb(148, 148, 0), 0.5px 0px 0px rgb(148, 148, 0), 0px -1px 0px rgb(148, 148, 0),
	0px 0.5px 0px rgb(148, 148, 0);
}

.three {
	color: blue;
}
