.button {
	background-color: #fff;
	padding: 5px;
	margin: 5px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 10rem;
	cursor: pointer;
}

.totalItems {
	border-radius: 5px;
	padding: 0.4rem;
	background-color: rgb(219, 219, 219);
	font-weight: 700;
}

.bump {
	animation: bumping 300ms ease-out;
	/* animation-name: bumping; */
	/* transform: scale(1); */
}

@keyframes bumping {
	0% {
		transform: scale(1);
	}

    10% {
        transform: scale(0.9);
    }

	30% {
		transform: scale(1.1);
	}

    50% {
        transform: scale(1.15);
    }

    75% {
        transform: scale(1.2)
    }

	100% {
		transform: scale(1);
	}
}
